<a href="https://colab.research.google.com/github/kywch/geo-colab/blob/master/Generate_Chicago_Traces.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [213]:
# Import necessary packages
import os, os.path
from glob import glob
from shutil import copyfile

import pandas as pd

from secrets import choice

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
files = glob("drive/My Drive/SatTemp/chicago_synthpop_V2/*.csv.gz")
print(files)

['drive/My Drive/SatTemp/chicago_synthpop_V2/persons_v2.csv.gz', 'drive/My Drive/SatTemp/chicago_synthpop_V2/places_v2_256p_lb_v2.csv.gz', 'drive/My Drive/SatTemp/chicago_synthpop_V2/activities_v2.csv.gz', 'drive/My Drive/SatTemp/chicago_synthpop_V2/places_v2.csv.gz', 'drive/My Drive/SatTemp/chicago_synthpop_V2/places_60615.csv.gz', 'drive/My Drive/SatTemp/chicago_synthpop_V2/persons_60615.csv.gz']

In [4]:
!rm -rf synthpop
if not os.path.exists('synthpop'):
  os.mkdir('synthpop')

In [5]:
# copy these files from Google Drive to colab disk
for f in files:
  print(f)
  copyfile(f, 'synthpop/' + os.path.basename(f))

drive/My Drive/SatTemp/chicago_synthpop_V2/persons_v2.csv.gz
drive/My Drive/SatTemp/chicago_synthpop_V2/places_v2_256p_lb_v2.csv.gz
drive/My Drive/SatTemp/chicago_synthpop_V2/activities_v2.csv.gz
drive/My Drive/SatTemp/chicago_synthpop_V2/places_v2.csv.gz
drive/My Drive/SatTemp/chicago_synthpop_V2/places_60615.csv.gz
drive/My Drive/SatTemp/chicago_synthpop_V2/persons_60615.csv.gz

In [6]:
# look at people
persons_df = pd.read_csv('synthpop/persons_v2.csv.gz')
persons_df.info()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927761 entries, 0 to 2927760
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   numeric_id                int64
 1   person_id                 object
 2   hh_id                     float64
 3   relate                    float64
 4   sex                       int64
 5   age                       int64
 6   gq_id                     float64
 7   school_id                 float64
 8   work_id                   float64
 9   daycare_id                float64
 10  gym_id                    float64
 11  hospital_id               float64
 12  jail                      float64
 13  jail_id                   int64
 14  rank                      int64
 15  weekday_schedule_id_list  object
 16  weekend_schedule_id_list  object
 17  otherhh_id                object
 18  home_restaurant_id        object
 19  recreation_id             object
 20  grocery_id                object
 21  worship_id                float64
 22  work_restaurant_id        object
dtypes: float64(10), int64(5), object(8)
memory usage: 513.8+ MB

In [179]:
# places
places_df = pd.read_csv('synthpop/places_v2.csv.gz')
places_df['numeric_id'] = places_df['numeric_id'].astype('int64')
places_df.info()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210722 entries, 0 to 1210721
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   numeric_id  1210722 non-null  int64
 1   place_id    1210722 non-null  object
 2   place_type  1210722 non-null  object
 3   name        1093276 non-null  object
 4   persons     1077336 non-null  float64
 5   latitude    1210668 non-null  float64
 6   longitude   1210668 non-null  float64
 7   zipcode     1204493 non-null  float64
 8   zip_grp     1194456 non-null  float64
 9   rank        1210722 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 92.4+ MB

In [180]:
# make it faster to look-up
plidx_df = places_df.set_index('numeric_id')
plidx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210722 entries, 1 to 1210721
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   place_id    1210722 non-null  object
 1   place_type  1210722 non-null  object
 2   name        1093276 non-null  object
 3   persons     1077336 non-null  float64
 4   latitude    1210668 non-null  float64
 5   longitude   1210668 non-null  float64
 6   zipcode     1204493 non-null  float64
 7   zip_grp     1194456 non-null  float64
 8   rank        1210722 non-null  int64
dtypes: float64(5), int64(1), object(3)
memory usage: 92.4+ MB

In [8]:
# activities
activity_df = pd.read_csv('synthpop/activities_v2.csv.gz')
activity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239781 entries, 0 to 239780
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Act_SlNo        239781 non-null  int64
 1   start_time      239781 non-null  int64
 2   stop_time       239781 non-null  int64
 3   Social_Act_Loc  239781 non-null  object
 4   schedule_id     239781 non-null  int64
dtypes: int64(4), object(1)
memory usage: 9.1+ MB

In [13]:
# check the number of unique persons
print(len(persons_df.person_id), len(persons_df.person_id.unique()))
persons_df.head()

2927761 2927761

   numeric_id person_id  ...  worship_id                       work_restaurant_id
0           1   1595930  ...   1208521.0  1196871|1195562|1200643|1200938|1195361
1          28   1597745  ...   1208491.0  1199052|1201611|1196871|1201222|1200938
2         335   1830168  ...   1209887.0  1195893|1203057|1200382|1195061|1199562
3         462   1833607  ...   1209989.0  1201510|1196631|1194644|1201711|1201711
4         656   1907903  ...   1208383.0  1201032|1195967|1198994|1199567|1202452

[5 rows x 23 columns]

# Things to do
* join zip code to person -- sample 1000 each?
* for each person
  * grab the activity schedule
  * link place coordinates
  * make a row for each hour: 24 rows with coordinates
  * the coordinates for 24 hours will be used to query temperature (or heat stress)

In [127]:
row = next(persons_df.iterrows())[1]
print(row)

numeric_id                                                                  1
person_id                                                             1595930
hh_id                                                             1.18152e+06
relate                                                                      1
sex                                                                         2
age                                                                        82
gq_id                                                                     NaN
school_id                                                                 NaN
work_id                                                                   NaN
daycare_id                                                             579139
gym_id                                                            1.18126e+06
hospital_id                                                                70
jail                                                                2.297e-06
jail_id                                                               1194221
rank                                                                      100
weekday_schedule_id_list    5969|5974|5983|5911|5963|5943|5953|5898|5930|5971
weekend_schedule_id_list    12237|12229|12172|12145|12178|12207|12203|1216...
otherhh_id                                                                NaN
home_restaurant_id                    1197516|1200938|1195562|1196781|1195562
recreation_id                         1205986|1206926|1206147|1207623|1207411
grocery_id                                            1210303|1210303|1210303
worship_id                                                        1.20852e+06
work_restaurant_id                    1196871|1195562|1200643|1200938|1195361
Name: 0, dtype: object

In [23]:
row.hh_id

1181524.0

In [27]:
places_df[places_df['numeric_id'] == row.hh_id]

         numeric_id place_id place_type  ...  zipcode  zip_grp  rank
1181523   1181524.0   592029  Household  ...  60631.0      1.0   100

[1 rows x 10 columns]

In [28]:
places_df[places_df['numeric_id'] == row.daycare_id]

        numeric_id      place_id place_type  ...  zipcode  zip_grp  rank
579138    579139.0  170319101317     School  ...  60714.0      0.0   127

[1 rows x 10 columns]

In [119]:
places_df['numeric_id'] = places_df['numeric_id'].astype('int64')

%timeit places_df[places_df['numeric_id'] == 1210303]
%timeit places_df.query('numeric_id == 1210303')

The slowest run took 9.35 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 2.48 ms per loop
100 loops, best of 3: 10.5 ms per loop

In [120]:
plidx_df = places_df.set_index('numeric_id')
plidx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210722 entries, 1 to 1210721
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   place_id    1210722 non-null  object
 1   place_type  1210722 non-null  object
 2   name        1093276 non-null  object
 3   persons     1077336 non-null  float64
 4   latitude    1210668 non-null  float64
 5   longitude   1210668 non-null  float64
 6   zipcode     1204493 non-null  float64
 7   zip_grp     1194456 non-null  float64
 8   rank        1210722 non-null  int64
dtypes: float64(5), int64(1), object(3)
memory usage: 92.4+ MB

In [196]:
activity_df['Social_Act_Loc'].unique()

array(['Household', 'Work Restaurant', 'Other', 'Other Household',
       'Place of worship', 'Home Restaurant', 'Recreation',
       'Grocery store', 'School', 'Workplace', 'Gym', 'Prison'],
      dtype=object)

In [126]:
%timeit plidx_df.loc[[1197516,1200938,1195562,1196781,1195562]]

%timeit [plidx_df.loc[1197516], plidx_df.loc[1200938], plidx_df.loc[1195562], plidx_df.loc[1196781], plidx_df.loc[1195562]]

1000 loops, best of 3: 435 µs per loop
1000 loops, best of 3: 698 µs per loop

In [189]:
#plidx_df.loc[[1197516,1200938,1195562,1196781,1195562]]
#%timeit plidx_df.iat[1197517, 4]

print(plidx_df.iat[1197517, 4], plidx_df.iat[1197517, 5])

41.9452125788355 -87.8237277801767

In [103]:
%timeit test = activity_df[activity_df['schedule_id'] == 5930]
%timeit test = activity_df.query('schedule_id == 5930')

#print(test)
#print(test.iat[2,3])

1000 loops, best of 3: 985 µs per loop
100 loops, best of 3: 4.19 ms per loop

In [165]:
# given a person id, and weekday/weekend
# select an activity at random
# retrieve the place info

row = persons_df.sample().iloc[0]
row

numeric_id                                                            1912861
person_id                                                             5211385
hh_id                                                                  840724
relate                                                                      1
sex                                                                         2
age                                                                        41
gq_id                                                                     NaN
school_id                                                                 NaN
work_id                                                                   NaN
daycare_id                                                             579187
gym_id                                                            1.18135e+06
hospital_id                                                                29
jail                                                                0.0425637
jail_id                                                               1194221
rank                                                                       34
weekday_schedule_id_list    3013|3039|3017|3025|3014|3040|3041|3041|3012|3026
weekend_schedule_id_list    9228|9244|9228|9214|9218|9228|9228|9218|9218|9228
otherhh_id                                               840680|840923|841040
home_restaurant_id                    1195542|1202014|1194640|1194724|1200972
recreation_id                         1206695|1206691|1203954|1203949|1204443
grocery_id                                            1210290|1210291|1210279
worship_id                                                         1.2102e+06
work_restaurant_id                    1200691|1199069|1196864|1198627|1197130
Name: 1607096, dtype: object

In [206]:
#row['grocery_id'].split('|')
#str(int(row['hh_id'])).split('|')
type(row.otherhh_id)

str

In [170]:
from secrets import choice

# retrieve a schedule
test = activity_df[activity_df['schedule_id'] == int(choice(row.weekday_schedule_id_list.split('|')))]

In [192]:
test

        Act_SlNo  start_time  stop_time   Social_Act_Loc  schedule_id
147758         1           0        330        Household         3040
147759         2         330        360        Household         3040
147760         3         360        375        Household         3040
147761         4         375        390        Household         3040
147762         5         390        430       Recreation         3040
147763         6         430        450        Household         3040
147764         7         450        465        Household         3040
147765         8         465        485        Household         3040
147766         9         485        515        Household         3040
147767        10         515        635            Other         3040
147768        11         635        665  Other Household         3040
147769        12         665        668  Other Household         3040
147770        13         668        683            Other         3040
147771        14         683        713            Other         3040
147772        15         713        728    Grocery store         3040
147773        16         728        748    Grocery store         3040
147774        17         748        758  Other Household         3040
147775        18         758        788  Other Household         3040
147776        19         788        828  Other Household         3040
147777        20         828        903            Other         3040
147778        21         903        993            Other         3040
147779        22         993       1098        Household         3040
147780        23        1098       1118        Household         3040
147781        24        1118       1135        Household         3040
147782        25        1135       1150        Household         3040
147783        26        1150       1160        Household         3040
147784        27        1160       1230        Household         3040
147785        28        1230       1260        Household         3040
147786        29        1260       1275        Household         3040
147787        30        1275       1295       Recreation         3040
147788        31        1295       1305        Household         3040
147789        32        1305       1325        Household         3040
147790        33        1325       1385        Household         3040
147791        34        1385       1440        Household         3040

In [225]:
from secrets import choice

def match_activity_with_coord(person_row, activity_df, sch_type='weekday'):

  # retrieve a schedule
  curr_activity = activity_df[activity_df['schedule_id'] == int(choice(row[sch_type+'_schedule_id_list'].split('|')))].reset_index(drop=True)

  place_list = curr_activity['Social_Act_Loc'].to_list()
  place_info = []
  prev_place = ''

  item_to_key = {
    'Household': 'hh_id', 
    'Work Restaurant': 'work_restaurant_id',
    'Other': 'hh_id', 
    'Other Household': 'otherhh_id',
    'Place of worship': 'worship_id', 
    'Home Restaurant': 'home_restaurant_id', 
    'Recreation': 'recreation_id',
    'Grocery store': 'grocery_id', 
    'School': 'school_id', 
    'Workplace': 'work_id', 
    'Gym': 'gym_id', 
    'Prison': 'jail_id'
  }

  for item in place_list:
    if item == prev_place:
      curr_info = place_info[-1]
    else:
      if item in item_to_key:
        try:
          if type(row[item_to_key[item]]) is str:
            idx = int(choice(row[item_to_key[item]].split('|')))
          else:
            idx = int(row[item_to_key[item]])
          curr_info = [item, idx, plidx_df.iat[idx, 4], plidx_df.iat[idx, 5]]
        except:
          curr_info = [item, None, None, None]
      else:
        curr_info = [item, None, None, None]

    #print(curr_info)
    place_info.append(curr_info)
    prev_place = item

  # return the horizontally-concated dataframe
  return(pd.concat([curr_activity, 
                    pd.DataFrame(place_info, columns=['item', 'place_numeric', 'lat', 'lng'])], 
                    axis=1))

%timeit match_activity_with_coord(row, activity_df)
#print(place_info)

100 loops, best of 3: 3.3 ms per loop

In [245]:
# hour, weight, social_act_loc, coordinates (lat/lng)
# using iat (instead of iloc) give ~10x speed improvement

def generate_hourly_activity(act_df):

  schedule = []
  for ii in range(act_df.shape[0]):
    curr_hour = act_df.iat[ii,1] // 60 #.iloc[ii].start_time // 60 
    proc_time = act_df.iat[ii,1] #.start_time

    # take care of the short activity
    if 60*(curr_hour+1) < act_df.iat[ii,2]: #iloc[ii].stop_time:
        schedule.append([curr_hour, 
                        (60*(curr_hour+1) - act_df.iat[ii,1])/60, 
                        act_df.iat[ii,3], act_df.iat[ii,7], act_df.iat[ii,8]]) #.iloc[ii].Social_Act_Loc])
        curr_hour += 1
        proc_time = 60*curr_hour

    # take care of the remaining long activity
    while proc_time < act_df.iat[ii,2]: #iloc[ii].stop_time:
      if (proc_time + 60) < act_df.iat[ii,2]: #iloc[ii].stop_time:
        schedule.append([curr_hour, 1, act_df.iat[ii,3], act_df.iat[ii,7], act_df.iat[ii,8]])
        proc_time += 60
        curr_hour += 1
      else:
        res_act = act_df.iat[ii,2] - proc_time
        schedule.append([curr_hour, res_act/60, act_df.iat[ii,3], act_df.iat[ii,7], act_df.iat[ii,8]])
        proc_time = act_df.iat[ii,2]
    
  # make the schedule compact
  compact_schedule = []
  compact_schedule.append(schedule.copy()[0])
  for item in schedule[1:]:
    # if the hour and activity are the same, just merge the time
    if (item[0] == compact_schedule[-1][0]) & (item[2] == compact_schedule[-1][2]):
      compact_schedule[-1][1] += item[1]
    else:
      compact_schedule.append(item)  

  # done
  return compact_schedule

IndexError: ignored

In [248]:
row = persons_df.sample().iloc[0]
%timeit test = match_activity_with_coord(row, activity_df)
%timeit generate_hourly_activity(test)

100 loops, best of 3: 3.26 ms per loop
100 loops, best of 3: 6.23 ms per loop

In [240]:
row

numeric_id                                                            1449174
person_id                                                             4736178
hh_id                                                                  670075
relate                                                                      1
sex                                                                         1
age                                                                        33
gq_id                                                                     NaN
school_id                                                                 NaN
work_id                                                                   NaN
daycare_id                                                             598092
gym_id                                                            1.18133e+06
hospital_id                                                                62
jail                                                                0.0279796
jail_id                                                               1194221
rank                                                                       21
weekday_schedule_id_list    2381|2398|2400|2401|2383|2408|2398|2371|2403|2404
weekend_schedule_id_list    8551|8588|8579|8570|8573|8562|8586|8581|8583|8561
otherhh_id                                        670057|669761|670460|901886
home_restaurant_id                    1197957|1198508|1195776|1199306|1197348
recreation_id                         1204472|1207008|1203277|1204734|1206847
grocery_id                                            1210484|1210415|1210316
worship_id                                                        1.20864e+06
work_restaurant_id                    1195315|1195919|1200887|1200592|1196628
Name: 2595814, dtype: object